#
# cron.d/yanic_collector -- schedules periodic wget of yanic .json data
#
# Copyright © technik <technik@ffrsk.de>
# distributed under the terms of GPL 2.0
#

#########
# new gw's nk
#########
# niederkassel1
# 01
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/01_graph.json -O /opt/data/niederkassel1/01_graph.json; if -s [ /opt/data/niederkassel1/01_graph.json ]; then cp /opt/data/niederkassel1/01_graph.json /opt/data/niederkassel1/domain01/graph.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/01_meshviewer.json -O /opt/data/niederkassel1/01_meshviewer.json; if [ -s /opt/data/niederkassel1/01_meshviewer.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/niederkassel1/01_meshviewer.json; /opt/data/reset_erx_clients_mesh.pl /opt/data/niederkassel1/01_meshviewer.json; cp /opt/data/niederkassel1/01_meshviewer.json /opt/data/niederkassel1/domain01/meshviewer.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel.ffrsk.de/01_nodelist.json -O /opt/data/niederkassel1/01_nodelist.json; if [ -s /opt/data/niederkassel1/01_nodelist.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/niederkassel1/01_nodelist.json; cp /opt/data/niederkassel1/01_nodelist.json /opt/data/niederkassel1/domain01/nodelist.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel.ffrsk.de/01_nodes.json -O /opt/data/niederkassel1/01_nodes.json; if [ -s /opt/data/niederkassel1/01_nodes.json ]; then /opt/data/reset_erx_clients.pl  /opt/data/niederkassel1/01_nodes.json;/opt/data/jsoncheck.pl /opt/data/niederkassel1/01_nodes.json /opt/data/niederkassel1/domain01/nodes.json; fi >/dev/null 2>&1
# 01 old v1 Versions for MobileMeshViewer
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/01_graph_v1.json -O /opt/data/niederkassel1/01_graph_v1.json; if [ -s /opt/data/niederkassel1/01_graph_v1.json ]; then cp /opt/data/niederkassel1/01_graph_v1.json /opt/data/niederkassel1/domain01/graph_v1.json; cp /opt/data/niederkassel1/domain01/graph_v1.json /opt/data/merged/graph_v1.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/01_nodes_v1.json -O /opt/data/niederkassel1/01_nodes_v1.json; if [ -s /opt/data/niederkassel1/01_nodes.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/niederkassel1/01_nodes.json; /opt/data/jsoncheck.pl /opt/data/niederkassel1/01_nodes_v1.json /opt/data/niederkassel1/domain01/nodes_v1.json; cp /opt/data/niederkassel1/domain01/nodes_v1.json /opt/data/merged/nodes_v1.json; fi >/dev/null 2>&1
# 03
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/03_graph.json -O /opt/data/niederkassel1/03_graph.json; if -s [ /opt/data/niederkassel1/03_graph.json ]; then cp /opt/data/niederkassel1/03_graph.json /opt/data/niederkassel1/domain03/graph.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/03_meshviewer.json -O /opt/data/niederkassel1/03_meshviewer.json; if [ -s /opt/data/niederkassel1/03_meshviewer.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/niederkassel1/03_meshviewer.json; /opt/data/reset_erx_clients_mesh.pl /opt/data/niederkassel1/03_meshviewer.json; cp /opt/data/niederkassel1/03_meshviewer.json /opt/data/niederkassel1/domain03/meshviewer.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel.ffrsk.de/03_nodelist.json -O /opt/data/niederkassel1/03_nodelist.json; if [ -s /opt/data/niederkassel1/03_nodelist.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/niederkassel1/03_nodelist.json; cp /opt/data/niederkassel1/03_nodelist.json /opt/data/niederkassel1/domain03/nodelist.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel.ffrsk.de/03_nodes.json -O /opt/data/niederkassel1/03_nodes.json; if [ -s /opt/data/niederkassel1/03_nodes.json ]; then /opt/data/reset_erx_clients.pl  /opt/data/niederkassel1/03_nodes.json;/opt/data/jsoncheck.pl /opt/data/niederkassel1/03_nodes.json /opt/data/niederkassel1/domain03/nodes.json; fi >/dev/null 2>&1
# 03 old v1 Versions for MobileMeshViewer
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/03_graph_v1.json -O /opt/data/niederkassel1/03_graph_v1.json; if [ -s /opt/data/niederkassel1/03_graph_v1.json ]; then cp /opt/data/niederkassel1/03_graph_v1.json /opt/data/niederkassel1/domain03/graph_v1.json; cp /opt/data/niederkassel1/domain03/graph_v1.json /opt/data/merged/graph_v1.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/03_nodes_v1.json -O /opt/data/niederkassel1/03_nodes_v1.json; if [ -s /opt/data/niederkassel1/03_nodes.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/niederkassel1/03_nodes.json; /opt/data/jsoncheck.pl /opt/data/niederkassel1/03_nodes_v1.json /opt/data/niederkassel1/domain03/nodes_v1.json; cp /opt/data/niederkassel1/domain03/nodes_v1.json /opt/data/merged/nodes_v1.json; fi >/dev/null 2>&1
# 04
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/04_graph.json -O /opt/data/niederkassel1/04_graph.json; if -s [ /opt/data/niederkassel1/04_graph.json ]; then cp /opt/data/niederkassel1/04_graph.json /opt/data/niederkassel1/domain04/graph.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/04_meshviewer.json -O /opt/data/niederkassel1/04_meshviewer.json; if [ -s /opt/data/niederkassel1/04_meshviewer.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/niederkassel1/04_meshviewer.json; /opt/data/reset_erx_clients_mesh.pl /opt/data/niederkassel1/04_meshviewer.json; cp /opt/data/niederkassel1/04_meshviewer.json /opt/data/niederkassel1/domain04/meshviewer.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel.ffrsk.de/04_nodelist.json -O /opt/data/niederkassel1/04_nodelist.json; if [ -s /opt/data/niederkassel1/04_nodelist.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/niederkassel1/04_nodelist.json; cp /opt/data/niederkassel1/04_nodelist.json /opt/data/niedkassel1/domain04/nodelist.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel.ffrsk.de/04_nodes.json -O /opt/data/niederkassel1/04_nodes.json; if [ -s /opt/data/niederkassel1/04_nodes.json ]; then /opt/data/reset_erx_clients.pl  /opt/data/niederkassel1/04_nodes.json;/opt/data/jsoncheck.pl /opt/data/niederkassel1/04_nodes.json /opt/data/niederkassel1/domain04/nodes.json; fi >/dev/null 2>&1
# 04 old v1 Versions for MobileMeshViewer
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/04_graph_v1.json -O /opt/data/niederkassel1/04_graph_v1.json; if [ -s /opt/data/niederkassel1/04_graph_v1.json ]; then cp /opt/data/niederkassel1/04_graph_v1.json /opt/data/niederkassel1/domain04/graph_v1.json; cp /opt/data/niederkassel1/domain04/graph_v1.json /opt/data/merged/graph_v1.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel1.ffrsk.de/04_nodes_v1.json -O /opt/data/niederkassel1/04_nodes_v1.json; if [ -s /opt/data/niederkassel1/04_nodes.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/niederkassel1/04_nodes.json; /opt/data/jsoncheck.pl /opt/data/niederkassel1/04_nodes_v1.json /opt/data/niederkassel1/domain04/nodes_v1.json; cp /opt/data/niederkassel1/domain04/nodes_v1.json /opt/data/merged/nodes_v1.json; fi >/dev/null 2>&1


# niederkassel2
# 05
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel2.ffrsk.de/05_graph.json -O /opt/data/niederkassel2/05_graph.json;  if [ -s /opt/data/niederkassel2/05_graph.json ]; then cp /opt/data/niederkassel2/05_graph.json /opt/data/niederkassel2/domain05/graph.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel2.ffrsk.de/05_meshviewer.json -O /opt/data/niederkassel2/05_meshviewer.json; if [ -s /opt/data/niederkassel2/05_meshviewer.json ]; then /opt/data/reset_erx_clients_mesh.pl /opt/data/niederkassel2/05_meshviewer.json;cp /opt/data/niederkassel2/05_meshviewer.json /opt/data/niederkassel2/domain05/meshviewer.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel2.ffrsk.de/05_nodelist.json -O /opt/data/niederkassel2/05_nodelist.json; if [ -s /opt/data/niederkassel2/05_nodelist.json ]; then cp /opt/data/niederkassel2/05_nodelist.json /opt/data/niederkassel2/domain05/nodelist.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel2.ffrsk.de/05_nodes.json -O /opt/data/niederkassel2/05_nodes.json; if [ -s /opt/data/niederkassel2/05_nodes.json ]; then /opt/data/reset_erx_clients.pl /opt/data/niederkassel2/05_nodes.json;/opt/data/jsoncheck.pl /opt/data/niederkassel2/05_nodes.json /opt/data/niederkassel2/domain05/nodes.json; fi >/dev/null 2>&1
# 05 old v1 Versions for MobileMeshViewer
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel2.ffrsk.de/05_graph_v1.json -O /opt/data/niederkassel2/05_graph_v1.json; if [ -s /opt/data/niederkassel2/05_graph_v1.json ]; then cp /opt/data/niederkassel2/05_graph_v1.json /opt/data/niederkassel2/domain05/graph_v1.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://niederkassel2.ffrsk.de/05_nodes_v1.json -O /opt/data/niederkassel2/05_nodes_v1.json; if [ -s  /opt/data/niederkassel2/05_nodes_v1.json ]; then /opt/data/jsoncheck.pl /opt/data/niederkassel2/05_nodes_v1.json /opt/data/niederkassel2/domain05/nodes_v1.json; fi >/dev/null 2>&1

