#
# cron.d/yanic_collector -- schedules periodic wget of yanic .json data
#
# Copyright © technik <technik@freifunk-siegburg.de>
# distributed under the terms of GPL 2.0
#

#########
# old gw's su
#########
# fgw01
# 07
# * * * * * root wget -U yanic_collector -q -4 http://fgw01.freifunk-siegburg.de/07_graph.json -O /opt/data/fgw01/07_graph.json; cp /opt/data/fgw01/07_graph.json /opt/data/fgw01/domain07/graph.json >/dev/null 2>&1
# * * * * * root wget -U yanic_collector -q -4 http://fgw01.freifunk-siegburg.de/07_meshviewer.json -O /opt/data/fgw01/07_meshviewer.json; cp  /opt/data/fgw01/07_meshviewer.json /opt/data/fgw01/domain07/meshviewer.json>/dev/null 2>&1
# * * * * * root wget -U yanic_collector -q -4 http://fgw01.freifunk-siegburg.de/07_nodelist.json -O /opt/data/fgw01/07_nodelist.json; cp /opt/data/fgw01/07_nodelist.json /opt/data/fgw01/domain07/nodelist.json >/dev/null 2>&1
# * * * * * root wget -U yanic_collector -q -4 http://fgw01.freifunk-siegburg.de/07_nodes.json -O /opt/data/fgw01/07_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw01/07_nodes.json /opt/data/fgw01/domain07/nodes.json>/dev/null 2>&1
# fgw02
# 01
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_graph.json -O /opt/data/fgw02/01_graph.json; if -s [ /opt/data/fgw02/01_graph.json ]; then cp /opt/data/fgw02/01_graph.json /opt/data/fgw02/domain01/graph.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_meshviewer.json -O /opt/data/fgw02/01_meshviewer.json; if [ -s /opt/data/fgw02/01_meshviewer.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/fgw02/01_meshviewer.json; cp /opt/data/fgw02/01_meshviewer.json /opt/data/fgw02/domain01/meshviewer.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_nodelist.json -O /opt/data/fgw02/01_nodelist.json; if [ -s /opt/data/fgw02/01_nodelist.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/fgw02/01_nodelist.json; cp /opt/data/fgw02/01_nodelist.json /opt/data/fgw02/domain01/nodelist.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_nodes.json -O /opt/data/fgw02/01_nodes.json; if [ -s /opt/data/fgw02/01_nodes.json ]; then /opt/data/jsoncheck.pl /opt/data/fgw02/01_nodes.json /opt/data/fgw02/domain01/nodes.json; fi >/dev/null 2>&1
# 01 old v1 Versions for MobileMeshViewer
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_graph_v1.json -O /opt/data/fgw02/01_graph_v1.json; if [ -s /opt/data/fgw02/01_graph_v1.json ]; then cp /opt/data/fgw02/01_graph_v1.json /opt/data/fgw02/domain01/graph_v1.json; cp /opt/data/fgw02/domain01/graph_v1.json /opt/data/merged/graph_v1.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/01_nodes_v1.json -O /opt/data/fgw02/01_nodes_v1.json; if [ -s /opt/data/fgw02/01_nodes.json ]; then /opt/data/replace_wrong_geolocation_su.pl /opt/data/fgw02/01_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw02/01_nodes_v1.json /opt/data/fgw02/domain01/nodes_v1.json; cp /opt/data/fgw02/domain01/nodes_v1.json /opt/data/merged/nodes_v1.json; fi >/dev/null 2>&1
# 03
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_graph.json -O /opt/data/fgw02/03_graph.json; if [ -s /opt/data/fgw02/03_graph.json ]; then cp /opt/data/fgw02/03_graph.json /opt/data/fgw02/domain03/graph.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_meshviewer.json -O /opt/data/fgw02/03_meshviewer.json; if [ -s /opt/data/fgw02/03_meshviewer.json ]; then cp /opt/data/fgw02/03_meshviewer.json /opt/data/fgw02/domain03/meshviewer.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_nodelist.json -O /opt/data/fgw02/03_nodelist.json; if [ -s /opt/data/fgw02/03_nodelist.json ]; then cp /opt/data/fgw02/03_nodelist.json /opt/data/fgw02/domain03/nodelist.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_nodes.json -O /opt/data/fgw02/03_nodes.json; if [ -s /opt/data/fgw02/03_nodes.json ]; then /opt/data/jsoncheck.pl /opt/data/fgw02/03_nodes.json /opt/data/fgw02/domain03/nodes.json; fi  >/dev/null 2>&1
# 03 old v1 Versions for MobileMeshViewer
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_graph_v1.json -O /opt/data/fgw02/03_graph_v1.json; if [ -s /opt/data/fgw02/03_graph_v1.json ]; then cp /opt/data/fgw02/03_graph_v1.json /opt/data/fgw02/domain03/graph_v1.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw02.freifunk-siegburg.de/03_nodes_v1.json -O /opt/data/fgw02/03_nodes_v1.json; if [ -s /opt/data/fgw02/03_nodes_v1.json ]; then /opt/data/jsoncheck.pl /opt/data/fgw02/03_nodes_v1.json /opt/data/fgw02/domain03/nodes_v1.json; fi  >/dev/null 2>&1
# fgw03
# 04
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_graph.json -O /opt/data/fgw03/04_graph.json; cp /opt/data/fgw03/04_graph.json /opt/data/fgw03/domain04/graph.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_meshviewer.json -O /opt/data/fgw03/04_meshviewer.json; cp /opt/data/fgw03/04_meshviewer.json /opt/data/fgw03/domain04/meshviewer.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_nodelist.json -O /opt/data/fgw03/04_nodelist.json; cp /opt/data/fgw03/04_nodelist.json /opt/data/fgw03/domain04/nodelist.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_nodes.json -O /opt/data/fgw03/04_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw03/04_nodes.json /opt/data/fgw03/domain04/nodes.json >/dev/null 2>&1
# 04 old v1 Versions for MobileMeshViewer
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_graph_v1.json -O /opt/data/fgw03/04_graph_v1.json; cp /opt/data/fgw03/04_graph_v1.json /opt/data/fgw03/domain04/graph_v1.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/04_nodes_v1.json -O /opt/data/fgw03/04_nodes_v1.json; /opt/data/jsoncheck.pl /opt/data/fgw03/04_nodes_v1.json /opt/data/fgw03/domain04/nodes_v1.json >/dev/null 2>&1
# 05
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_graph.json -O /opt/data/fgw03/05_graph.json; cp /opt/data/fgw03/05_graph.json /opt/data/fgw03/domain05/graph.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_meshviewer.json -O /opt/data/fgw03/05_meshviewer.json; cp /opt/data/fgw03/05_meshviewer.json /opt/data/fgw03/domain05/meshviewer.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_nodelist.json -O /opt/data/fgw03/05_nodelist.json; cp /opt/data/fgw03/05_nodelist.json /opt/data/fgw03/domain05/nodelist.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_nodes.json -O /opt/data/fgw03/05_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw03/05_nodes.json /opt/data/fgw03/domain05/nodes.json >/dev/null 2>&1
# 05 old v1 Versions for MobileMeshViewer
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_graph_v1.json -O /opt/data/fgw03/05_graph_v1.json; cp /opt/data/fgw03/05_graph_v1.json /opt/data/fgw03/domain05/graph_v1.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/05_nodes_v1.json -O /opt/data/fgw03/05_nodes_v1.json; /opt/data/jsoncheck.pl /opt/data/fgw03/05_nodes_v1.json /opt/data/fgw03/domain05/nodes_v1.json >/dev/null 2>&1
# 11
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/11_graph.json -O /opt/data/fgw03/11_graph.json; cp /opt/data/fgw03/11_graph.json /opt/data/fgw03/domain11/graph.json  >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/11_meshviewer.json -O /opt/data/fgw03/11_meshviewer.json; cp /opt/data/fgw03/11_meshviewer.json /opt/data/fgw03/domain11/meshviewer.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/11_nodelist.json -O /opt/data/fgw03/11_nodelist.json; cp /opt/data/fgw03/11_nodelist.json /opt/data/fgw03/domain11/nodelist.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/11_nodes.json -O /opt/data/fgw03/11_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw03/11_nodes.json /opt/data/fgw03/domain11/nodes.json >/dev/null 2>&1
# 14
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/14_graph.json -O /opt/data/fgw03/14_graph.json; if [ -s /opt/data/fgw03/14_graph.json ]; then cp /opt/data/fgw03/14_graph.json /opt/data/fgw03/domain14/graph.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/14_meshviewer.json -O /opt/data/fgw03/14_meshviewer.json; if [ -s /opt/data/fgw03/14_meshviewer.json ]; then cp /opt/data/fgw03/14_meshviewer.json /opt/data/fgw03/domain14/meshviewer.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/14_nodelist.json -O /opt/data/fgw03/14_nodelist.json; if [ -s /opt/data/fgw03/14_nodelist.json ]; then cp /opt/data/fgw03/14_nodelist.json /opt/data/fgw03/domain14/nodelist.json; fi >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw03.freifunk-siegburg.de/14_nodes.json -O /opt/data/fgw03/14_nodes.json; if [ -s /opt/data/fgw03/14_nodes.json ]; then /opt/data/jsoncheck.pl /opt/data/fgw03/14_nodes.json /opt/data/fgw03/domain14/nodes.json; fi >/dev/null 2>&1
# fgw04
# 07
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/07_graph.json -O /opt/data/fgw04/07_graph.json; cp /opt/data/fgw04/07_graph.json /opt/data/fgw04/domain07/graph.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/07_meshviewer.json -O /opt/data/fgw04/07_meshviewer.json; cp /opt/data/fgw04/07_meshviewer.json /opt/data/fgw04/domain07/meshviewer.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/07_nodelist.json -O /opt/data/fgw04/07_nodelist.json; cp /opt/data/fgw04/07_nodelist.json /opt/data/fgw04/domain07/nodelist.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/07_nodes.json -O /opt/data/fgw04/07_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw04/07_nodes.json /opt/data/fgw04/domain07/nodes.json >/dev/null 2>&1
# 11
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/11_graph.json -O /opt/data/fgw04/11_graph.json; cp /opt/data/fgw04/11_graph.json /opt/data/fgw04/domain11/graph.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/11_meshviewer.json -O /opt/data/fgw04/11_meshviewer.json; cp /opt/data/fgw04/11_meshviewer.json /opt/data/fgw04/domain11/meshviewer.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/11_nodelist.json -O /opt/data/fgw04/11_nodelist.json; cp /opt/data/fgw04/11_nodelist.json /opt/data/fgw04/domain11/nodelist.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/11_nodes.json -O /opt/data/fgw04/11_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw04/11_nodes.json /opt/data/fgw04/domain11/nodes.json >/dev/null 2>&1
# 14
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/14_graph.json -O /opt/data/fgw04/14_graph.json; cp /opt/data/fgw04/14_graph.json /opt/data/fgw04/domain14/graph.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/14_meshviewer.json -O /opt/data/fgw04/14_meshviewer.json; cp /opt/data/fgw04/14_meshviewer.json /opt/data/fgw04/domain14/meshviewer.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/14_nodelist.json -O /opt/data/fgw04/14_nodelist.json; cp /opt/data/fgw04/14_nodelist.json /opt/data/fgw04/domain14/nodelist.json >/dev/null 2>&1
*/2 * * * * root wget -U yanic_collector -q -4 http://fgw04.freifunk-siegburg.de/14_nodes.json -O /opt/data/fgw04/14_nodes.json; /opt/data/jsoncheck.pl /opt/data/fgw04/14_nodes.json /opt/data/fgw04/domain14/nodes.json >/dev/null 2>&1
